.container {
	display: grid;
	grid-template-columns: 7fr 3fr;
}

.mi_id {
	margin-right: 5rem;
	border-radius: 5px;
	background: #c9d6ff; 
	background: -webkit-linear-gradient(to right, #e2e2e2, #c9d6ff); 
	background: linear-gradient(
		to right,
		#e2e2e2,
		#c9d6ff
	); 

	padding: 2rem;
	display: grid;
	justify-content: center;
	align-content: center;
}

.botonLlamada {
	text-align: center;
	margin-top: 2rem;
}

.video-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-content: center;
	margin-top: -10%;
	margin-left: 10%;
}

.llamando {
	text-align: center;
	color: #fff;
}

body {
	background: #4776e6; 
	background: -webkit-linear-gradient(to right, #54d0e9, #47e662); 
	background: linear-gradient(
		to right,
		#54d0e9,
		#47e662
	);
}